.journal-title {
  margin-top: 2 0px;
  font-weight: bold;
  font-size: 24px;
}

.journal-List {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.journal-List div {
  width: 100%;
}

.journal-List div img {
  width: 100%;
  height: 70%;
  margin-bottom: 10px;
}
.journal-List div:hover {
  cursor: pointer;
  text-decoration: underline;
}
@media screen and (max-width: 674px) {
  .journal-List {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }
  .journal-List div {
    width: 100%;
    height: 100%;
  }
  .journal-List div img {
    width: 100%;
    height: 80%;
  }
}
